footer {
    

    #footer-section {
        padding: 150px 0;
        background-image: url("../images/footer-bg.jpeg");
        background-position: center;
        background-size: cover;
        position: relative;
        background-blend-mode: color;
        background-color: #000000ba;

        

        .footer-column {
            .footer-description {
                .footer-logo {
                    margin-bottom: 45px;
                    img {}
                }

                .footer-description-content {
                    color: #fff;
                    p {}
                }
            }
        }
    }
}