$top-bottom-blue:#3648b2;
$primary-color: #ff4747;
$font-13: 0.8125rem;
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-17: 1.0625rem;
$font-18: 1.125rem;
$font-19: 1.185rem;
$font-20: 1.25rem;
$default-lines-color: #e2e8f0;
$default-placeholder-color: #a9a9a9;
$default-transition: all 0.4s ease-in-out;
$form-range-track-bg: #eeeeee;
$form-range-track-height: .2rem;
$form-range-thumb-width: .5rem;
$form-range-thumb-height: $form-range-thumb-width;
$form-range-thumb-bg: $primary-color;
$btn-hover-border-shade-amount: 0;
$btn-hover-border-tint-amount: 0;